
:root {
    --bgcolor: #f5ccff;
    --primary-color: #7a0099;
}

.login-status {
    width: 350px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    margin-top: 50px;
    margin-left: 5px;
    display: none;
 }

 .stats-message {
     font-family: 'Jost', sans-serif;
     font-size: 130%;
     color: var(--primary-color);
 }
